on:
  push:
    branches:
    - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build the app
    steps:
     - uses: actions/checkout@v3
     - name: Setup node
       uses: actions/setup-node@v3
       with:
         node-version: 18
     - run: npm install
     - run: npm run build
      # Runs a set of commands using the runners shell
     - name: Run a multi-line script
       run: tar -cvf deploy.tar ./dist
     - name: Deploy to server
       uses: appleboy/scp-action@master
       with:
         host: ${{ secrets.HOST }}
         username: ${{ secrets.USERNAME }}
         password: ${{ secrets.PASSWORD }}
         port: ${{ secrets.PORT }}
         source: "deploy.tar"
         target: "/home/nvi0/www"

